@charset "utf-8";
#principal {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}
#principal #encabezado {
	height: 159px;
	width: 968px;
	background-image: url(../img/encabezado.png);
}
#principal #informacion {
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	height: 410px;
}
.btn {
	float: left;
	height: 400px;
	width: 400px;
	margin-left: 50px;
}

.button {
	float: left;
	height: 74px;
	width: 329px;
	margin-left: 320px;
}

#principal #pie {
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	height: 74px;
	width: 390px;
	background-image: url(../img/serviciotecnico.png);
}
body {
	background-image: url(../img/principal.png);
}
#principal {
}